@{
    ViewData["Title"] = "Política de privacidad";
}
<h2>@ViewData["Title"]</h2>

<p>Indicando claramente qué derecho desea ejercer y aportando una copia de su documento de identidad para acreditar su identificación. También pueden dirigirse a través del correo postal al domicilio social del Responsable que figura en el punto 1 de la presente Política de Privacidad.</p>
